@model Sistema.Modelos.Camion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Camion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KilometrajeActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KilometrajeActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Conductor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var conductor in Model.Conductores)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Conductores" asp-route-id="@conductor.Codigo">@conductor.Nombre</a>
                </td>
            </tr>
        }  
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Mantenimiento/Descripcion</th>
            <th>Fecha Programada</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mantenimiento in Model.MantenimientosProgramados)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Conductores" asp-route-id="@mantenimiento.Codigo">@mantenimiento.Descripcion</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Conductores" asp-route-id="@mantenimiento.Codigo">@mantenimiento.FechaProgramada</a>
                </td>
            </tr>
        }
    </tbody>
</table>